      <picture>
        <img src={{image_url}} alt='' />
      </picture>
      <div class='article-content'>
        <h2>{{name}}</h2>
        <p class="tagline">{{tagline}}</p>
        <p>{{description}}</p>
      </div>