      <picture>
        <img src={{image_url}} alt='' />
      </picture>
      <div class='article-content'>
        <a href="/beers/beer-i3f4d34s34b">
          <h2>{{name}}</h2>
        </a>
        <p class="tagline">{{tagline}}</p>
        <p>{{description}}</p>
      </div>