<section class="home-section">
    <img src="./images/beer.png" alt="beer image">
    <a class="home-button" href="/beers">Check the Beers</a>
    <a class="home-button" href="/random-beer">Check aRandom Beer:</a>
</section>
