<section class='beers-section'>
    <article>
            {{> beerpartial this}}
        <strong>Food Paring</strong>
        <ul>
          {{#each food_pairing}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <div><strong>Brewers tips: </strong>{{brewers_tips}}</div>
      </div>
    </article>
</section>